/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8e44ad;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.project-category {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-category h3 {
    font-size: 28px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.project-category p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.project-category h4 {
    font-size: 22px;
    color: #333;
    margin-top: 30px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 10px;
}

.project-category ul {
    list-style-type: none;
    padding: 0;
}

.project-category ul li {
    background-color: #f9f9f9;
    margin: 15px 0;
    padding: 15px;
    border-left: 5px solid #2980b9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-category ul li h5 {
    font-size: 20px;
    color: #2980b9;
    margin: 0 0 10px 0;
}

.project-category ul li p {
    font-size: 16px;
    color: #555;
    margin: 0;
}
